*
*/
.themes/*
.config/*
.config/sublime-text-3/*
.config/neofetch/*
.i3blocks/sys-msg/pipe
Pictures/*
!.gitignore
!.bash_logout
!.bash_profile
!.bashrc
!.Xresources
!.xinitrc
!.themes/Flatabulous-wal/*
!.config/i3/*
!.config/sublime-text-3/Packages/*
.config/sublime-text-3/Packages/SublimeCodeIntel
!.config/sublime-text-3/Cache/*
!.config/compton.conf/*
!.config/neofetch/config
!.config/wal/*
!.fonts/*
!.i3blocks/*
!compton.conf
!.config/gtk-2.0/*
!.config/gtk-3.0/*
!.config/polybar/*
!.config/res
!.config/res/*
*/**/bin
*/**/include
*/**/lib
*/**/pip-selfcheck.json
*/**/*.pyc
*/**/__pycache__/*
*/**/*.egg
*/**/*.egg-info
