*
*/
!requirements.txt
!.gitignore
!.bash_logout
!.bash_profile
!.bashrc
!.i3
!.Xresources
!.xinitrc
.config/*
!.config/i3/*
.config/sublime-text-3/*
!.config/sublime-text-3/Packages/*
!.config/sublime-text-3/Cache/*
!.config/compton.conf/*
!.fonts
!.i3blocks
!compton.conf
!gtk-2.0
!gtk-3.0
Pictures/*
!Pictures/background.png
