*
*/
.themes/*
.config/*
.fonts/*
.config/sublime-text-3/*
.config/neofetch/*

!.gitignore
!.bash_logout
!.bash_profile
!.bashrc
!.pythonrc
!.Xresources
!.xinitrc

!.fonts/FontAwesome.otf

!.config/i3/*
!.config/sublime-text-3/Packages/*
!.config/sublime-text-3/Projects/*
.config/sublime-text-3/Packages/SublimeCodeIntel
!.config/compton.conf/*
!.config/neofetch/config
!.config/wal/*
!.config/compton.conf
!.config/gtk-2.0/*
!.config/gtk-3.0/*
!.config/polybar/*
!.config/res
!.config/res/*
!.config/devilspie2

bin
include
lib
pip-selfcheck.json
*.pyc
__pycache__/*
*.egg
*.egg-info
