gtk-color-scheme = "background: #080908"
gtk-color-scheme = "foreground: #89ABBA"

gtk-color-scheme = "color0: #080908"
gtk-color-scheme = "color1: #403E43"
gtk-color-scheme = "color2: #3A4752"
gtk-color-scheme = "color3: #484B55"
gtk-color-scheme = "color4: #505B6B"
gtk-color-scheme = "color5: #647387"
gtk-color-scheme = "color6: #7493A0"
gtk-color-scheme = "color7: #89ABBA"
gtk-color-scheme = "color8: #6a6b6a"
gtk-color-scheme = "color9: #403E43"
gtk-color-scheme = "color10: #3A4752"
gtk-color-scheme = "color11: #484B55"
gtk-color-scheme = "color12: #505B6B"
gtk-color-scheme = "color13: #647387"
gtk-color-scheme = "color14: #7493A0"
gtk-color-scheme = "color15: #89ABBA"
