gtk-color-scheme = "background: #191B13"
gtk-color-scheme = "foreground: #E4E0D8"

gtk-color-scheme = "color0: #191B13"
gtk-color-scheme = "color1: #798797"
gtk-color-scheme = "color2: #79CBBA"
gtk-color-scheme = "color3: #90918C"
gtk-color-scheme = "color4: #9FA4A7"
gtk-color-scheme = "color5: #C3BCAF"
gtk-color-scheme = "color6: #D0C9B5"
gtk-color-scheme = "color7: #E4E0D8"
gtk-color-scheme = "color8: #666666"
gtk-color-scheme = "color9: #798797"
gtk-color-scheme = "color10: #79CBBA"
gtk-color-scheme = "color11: #90918C"
gtk-color-scheme = "color12: #9FA4A7"
gtk-color-scheme = "color13: #C3BCAF"
gtk-color-scheme = "color14: #D0C9B5"
gtk-color-scheme = "color15: #E4E0D8"
