gtk-color-scheme = "background: #0f0f08"
gtk-color-scheme = "foreground: #bfbdb9"

gtk-color-scheme = "color0: #0f0f08"
gtk-color-scheme = "color1: #1D2E41"
gtk-color-scheme = "color2: #2D3845"
gtk-color-scheme = "color3: #394854"
gtk-color-scheme = "color4: #52595E"
gtk-color-scheme = "color5: #8F7032"
gtk-color-scheme = "color6: #86856A"
gtk-color-scheme = "color7: #bfbdb9"
gtk-color-scheme = "color8: #858481"
gtk-color-scheme = "color9: #1D2E41"
gtk-color-scheme = "color10: #2D3845"
gtk-color-scheme = "color11: #394854"
gtk-color-scheme = "color12: #52595E"
gtk-color-scheme = "color13: #8F7032"
gtk-color-scheme = "color14: #86856A"
gtk-color-scheme = "color15: #bfbdb9"
